In [ ]:
car = 'AUDI'
car == 'BMW'

False

In [ ]:
car = 'Audi'
print(f"The name of the car is {car}.")

The name of the car is Audi.

In [ ]:
answer = 17
if answer != 16:
  print("Wrong Answer!")

Wrong Answer!

In [ ]:
age = 19
age < 21

True

In [ ]:
name = input("Enter name: ")
age = int(input("Enter age:"))
if age >= 18:
  print(f"{name}, you are {age}.\nYou old enough to vote!")

Enter name: Aman
Enter age:25
Aman, you are 25.
You old enough to vote!

In [ ]:
age = 17
if age >= 18:
  print("You are old enough to vote. \nHave you registered to vote yet?")
else:
  print("Sorry! You are not eligible for vote.")

Sorry! You are not eligible for vote.

In [ ]:
age = 12
if age < 4:
  price = 0
elif age < 18:
  price = 25
elif age < 65:
  price = 40
elif age >= 65:
  price = 30

print(f"Your ticket price is €{price}.")

Your ticket price is €25'.

In [ ]:
Healthy_Foods = ['Milk','Egg','Carrot','Cucumber','Garlic']
'Egg' in Healthy_Foods

True

In [ ]:
Healthy_Foods = ['Milk','Egg','Carrot','Cucumber','Garlic']
'coke' in Healthy_Foods

False

In [ ]:
Restricted_Age = 18
Restricted_Age == 17

False

In [ ]:
Relegated_Teams = ['Arsenal', 'Chelsea', 'Man_City']
'MANU' not in Relegated_Teams

True

In [ ]:
Relegated_Teams = ['Arsenal', 'Chelsea', 'Man_City']
'Chelsea' not in Relegated_Teams

False

In [ ]:
username = 'rajon'
password = '1234Dora'

username == 'rajon' and password == '1234Dora'

True

In [ ]:
sunny = 10

if sunny == True:
  print("Go for cycling.")
else:
  print("Do your homework!")

Do your homework!

In [ ]:
#Checking if Ron is older than Jon
Ron = 16
Jon = 14

Ron==Jon

False

In [ ]:
#EX 5-2 Equalitly and inequality with strings.
Ron_age = 40
Lebron_age = 45

if Ron_age>Lebron_age:
  print(f"Ron is {Ron_age}, so Ron is older.")
else:
  print(f"Lebron is {Lebron_age}, so Lebron is older.")

Lebron is 45, so Lebron is older.

In [ ]:
#using .lower() method.

Good_Food = 'Egg'
Good_Food.lower() == 'egg'

True

In [ ]:
Healthy_Foods = ['Milk','Egg','Carrot','Cucumber','Garlic']
'egg' in Healthy_Foods.lower()

AttributeError: 'list' object has no attribute 'lower'

The error message AttributeError: 'list' object has no attribute 'lower' indicates that the lower() method is not applicable to a list object. To check if an element exists in a list, use the in operator.

In [ ]:
#Numerical test >, <, =, >=, <= !=
a = 5
b = 6
c = 8
d = 6
e = 10

d >= b

True

In [ ]:
#inequality
Answer = 45
Answer != 54
  #print("Correct answer.")

True

In [ ]:
#and #or
age_1 = 35
age_2 = 32
(age_1< 30) or (age_2 <= 30)

False

In [ ]:
#in #not_in
Healthy_Foods = ['Milk','Egg','Carrot','Cucumber','Garlic']
'Egg' in Healthy_Foods

True

In [ ]:
requested_toppings = ['mushrooms', 'pepperoni', 'cheese' ]
if 'mushrooms' in requested_toppings:
  print("Adding Mushrooms.")
if 'cheese' in requested_toppings:
  print("Adding Cheese.")
if 'anchovis' in requested_toppings:
  print("Adding Anchovies.")

print("\nFinished making your Pizza!")

Adding Mushrooms.
Adding Cheese.

Finished making your Pizza!

In [ ]:
#5-3 Alien Colors#1
alien_color = 'green'
if alien_color == 'green':
  print("You earned 5 pints.")

You earned 5 pints.

In [ ]:
alien_color = 'red'
if alien_color == 'green':
  print("You earned 5 pints.")

In [ ]:
#5-4 Alien Colors#2
alien_color = 'x'
if alien_color == 'green':
  print("You earned 5 pints.")
else:
  print("You earned 10 points.\nWOW!")

You earned 10 points.
WOW!

In [ ]:
alien_color = 'red'
if alien_color == 'red':
  print("5 Points.")
else:
  print("You earned 10 points.")

5 Points.

In [ ]:
#5-5 Alien colors#3
alien_color = 'red'

if alien_color == 'red':
  print("5 Points.")
elif alien_color == 'green':
  print("10 points!")
else:
  print(f"{alien_color}. 20 Points.\nWOW!")

5 Points.

In [ ]:
alien_color = 'green'

if alien_color == 'red':
  print("5 Points.")
elif alien_color == 'green':
  print("10 points!")
else:
  print(f"{alien_color}. 20 Points.\nWOW!")

10 points!

In [ ]:
alien_color = 'Black'
if alien_color == 'red':
  print("5 points")
elif alien_color == 'green':
  print("10 pints")
else:
  print("You earned 20 points.\nGreat!")

You earned 20 points.
Great!

In [ ]:
#5-6 Steges of life
age = int(input("Enter the age: "))
if age < 2:
  print("It's a Baby!")
elif age < 4:
  print("It,s a Toddler!")
elif age < 13:
  print("It's a Kid.")
elif age < 20:
  print("The person is a Teenager!")
elif age < 65:
  print("The person is an Adult.")
else:
  print("This person is old.")

Enter the age: 19
The person is a Teenager!

In [ ]:
#5-7 Favourite Fruit
fav_fruit = ['Apple', 'Mango', 'Banana', 'Melon']
if 'Apple' in fav_fruit:
  print("Oh, You like Apples!")
if 'Mango' in fav_fruit:
  print("I like Mangoes too!")
if 'Strawberry' in fav_fruit:
  print("Ohh")
if 'Banana' in fav_fruit:
  print("Banana, Thats super healthy.")
if 'Melon' in fav_fruit:
  print("Melon is so good!")
if 'Pineapple' in fav_fruit:
  print("Hmmm")

Oh, You like Apples!
I like Mangoes too!
Banana, Thats super healthy.
Melon is so good!

In [ ]:
requested_toppings = ['mushrooms', 'cheese', 'olive']
for requested_topping in requested_toppings:
  print(f"Adding {requested_topping}....")

print("Finished making your Pizza.")

Adding mushrooms....
Adding cheese....
Adding olive....
Just the crust!
Finished making your Pizza.

In [ ]:
requested_toppings = ['mushroom', 'onion','cheese', 'olive']

for requested_topping in requested_toppings:
  if requested_topping == 'onion':
    print("Sorry, we ran out of Onions.")
  else:
    print(f"Adding {requested_topping}....")

print("Finished making your Pizza!")

Adding mushroom....
Sorry, we ran out of Onions.
Adding cheese....
Adding olive....
Finished making your Pizza!

In [ ]:
requested_toppings =[]
if requested_toppings:                          #Checking if the list is empty.
  for requested_topping in requested_toppings:
    print(f"Adding {requested_topping}....")
else:
  print("Just the crust!")

print("Your Pizza is ready.")

Just the crust!
Your Pizza is ready.

In [ ]:
available_toppings = ['olive', 'cheese', 'tomato', 'pineapple', 'mushrooms']
requested_toppings = ['olive', 'peppers', 'french fries','mushrooms']

for requested_topping in requested_toppings:
  if requested_topping in available_toppings:
    print(f"Adding {requested_topping}...")
  else:
    print(f"Sorry, we don't have {requested_topping}.")
    #print(f"We don't have {requested_topping} either.")

print("Your Pizza is ready.")

Adding olive...
Sorry, we don't have peppers.
Sorry, we don't have french fries.
Adding mushrooms...
Your Pizza is ready.

In [ ]:
#5-8 Hello Admin
user_list = ['admin', 'rajon', 'dora', 'cheetah', 'liza', 'xyz']

for user in user_list:
  if user == 'admin':
    print(f"Hello {user.title()}. Welcome to the server. Would you like to make any changes.")
  else:
    print(f"Hello {user}. Welcome to the server.")

Hello Admin. Welcome to the server. Would you like to make any changes.
Hello rajon. Welcome to the server.
Hello dora. Welcome to the server.
Hello cheetah. Welcome to the server.
Hello liza. Welcome to the server.
Hello xyz. Welcome to the server.

In [ ]:
#5-9 Empty List
user_list = []
if user in user_list:
  for user in user_list:
    if user == 'admin':
      print(f"Hello {user.title()}. Welcome to the server. Would you like to make any changes.")
    else:
      print(f"Hello {user}. Welcome to the server.")
else:
  print("We need to find some users. We are empty.")

We need to find some users. We are empty.

In [ ]:
#5-10 Checking Username
current_list = ['admin', 'rajon', 'dora', 'cheetah', 'liza']
new_list = ['black', 'golu', 'xyz', 'Liza', 'DORA']

for user in new_list:
  if user.lower() in current_list:
    print(f"{user} already taken. Choose a new username")
  else:
    print(f"{user}. this username is available.")

black. this username is available.
golu. this username is available.
xyz. this username is available.
Liza already taken. Choose a new username
DORA already taken. Choose a new username

In [ ]:
#5-11 Ordinal Numbers
numbers = [1,2,3,4,5,6,7,8,9,10]
for x in numbers:
  if x == 1:
    print(f"{x}st")
  elif x == 2:
    print(f"{x}nd")
  elif x  == 3:
    print(f"{x}rd")
  else:
    print(f"{x}th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th
10th